## DATA SET: 

#### AI Global Index

CSV file from:
https://www.kaggle.com/datasets/katerynameleshenko/ai-index/data

#### GDP per country

https://www.worldometers.info/gdp/gdp-by-country/

In [6]:
pip install pandas

Requirement already satisfied: pandas in c:\users\admin\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import pandas as pd

In [8]:
path1 = "Data Frames/AI_index_db.csv"
df_ai = pd.read_csv(path1)
pd.set_option('display.max_columns', None)
df_ai

,Country,Talent,Infrastructure,Operating Environment,Research,Development,Government Strategy,Commercial,Total score,Region,Cluster,Income group,Political regime
0,United States of America,100.00,94.02,64.56,100.00,100.00,77.39,100.00,100.00,Americas,Power players,High,Liberal democracy
1,China,16.51,100.00,91.57,71.42,79.97,94.87,44.02,62.92,Asia-Pacific,Power players,Upper middle,Closed autocracy
2,United Kingdom,39.65,71.43,74.65,36.50,25.03,82.82,18.91,40.93,Europe,Traditional champions,High,Liberal democracy
3,Canada,31.28,77.05,93.94,30.67,25.78,100.00,14.88,40.19,Americas,Traditional champions,High,Liberal democracy
4,Israel,35.76,67.58,82.44,32.63,27.96,43.91,27.33,39.89,Middle East,Rising stars,High,Liberal democracy
...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,Sri Lanka,6.27,34.64,35.79,0.12,0.95,35.57,0.09,6.62,Asia-Pacific,Nascent,Lower middle,Electoral democracy
58,Egypt,1.11,38.84,0.00,2.08,1.54,68.72,0.31,4.83,Middle East,Nascent,Lower middle,Electoral autocracy
59,Kenya,0.75,14.11,29.84,0.07,12.15,7.75,0.31,2.30,Africa,Nascent,Lower middle,Electoral autocracy
60,Nigeria,2.74,0.00,50.10,0.45,2.06,7.75,0.33,1.38,Africa,Nascent,Lower middle,Electoral autocracy
61,Pakistan,8.00,2.43,12.48,2.17,1.09,13.92,0.27,0.00,Asia-Pacific,Nascent,Lower middle,Electoral autocracy

In [9]:
df_ai.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                62 non-null     object
 1   Talent                 62 non-null     float64
 2   Infrastructure         62 non-null     float64
 3   Operating Environment  62 non-null     float64
 4   Research               62 non-null     float64
 5   Development            62 non-null     float64
 6   Government Strategy    62 non-null     float64
 7   Commercial             62 non-null     float64
 8   Total score            62 non-null     float64
 9   Region                 62 non-null     object
 10  Cluster                62 non-null     object
 11  Income group           62 non-null     object
 12  Political regime       62 non-null     object
dtypes: float64(8), object(5)
memory usage: 6.4+ KB

In [10]:
df_ai.isnull().any()

Country                  False
Talent                   False
Infrastructure           False
Operating Environment    False
Research                 False
Development              False
Government Strategy      False
Commercial               False
Total score              False
Region                   False
Cluster                  False
Income group             False
Political regime         False
dtype: bool

In [11]:
df_ai.duplicated().sum()

0

In [12]:
df_ai["Country"].unique()

array(['United States of America', 'China', 'United Kingdom', 'Canada',
       'Israel', 'Singapore', 'South Korea', 'The Netherlands', 'Germany',
       'France', 'Australia', 'Ireland', 'Finland', 'Denmark',
       'Luxembourg', 'Japan', 'India', 'Switzerland', 'Sweden',
       'Hong Kong', 'Spain', 'Austria', 'Estonia', 'Taiwan', 'Norway',
       'Saudi Arabia', 'Belgium', 'Poland', 'Slovenia', 'New Zealand',
       'Italy', 'Russia', 'Malta', 'United Arab Emirates', 'Portugal',
       'Czech Republic', 'Iceland', 'Lithuania', 'Brazil', 'Greece',
       'Slovakia', 'Hungary', 'Malaysia', 'Mexico', 'Chile', 'Argentina',
       'Qatar', 'Turkey', 'Colombia', 'Uruguay', 'Bahrain', 'Vietnam',
       'Indonesia', 'Tunisia', 'South Africa', 'Morocco', 'Armenia',
       'Sri Lanka', 'Egypt', 'Kenya', 'Nigeria', 'Pakistan'], dtype=object)

## GDP per country (WORLD BANK GROUP API)

In [13]:
path2 = "Data Frames/GDP 2022.xlsx"
df_gdp = pd.read_excel(path2)
pd.set_option('display.max_columns', None)
df_gdp

,#,Country,"GDP\n(nominal, 2022)",GDP\n(abbrev.),GDP\ngrowth,Population\n(2022),GDP\nper capita,Share of\nWorld GDP
0,1,United States,"$25,462,700,000,000",$25.463 trillion,0.0206,338289857,"$75,269",0.2532
1,2,China,"$17,963,200,000,000",$17.963 trillion,0.0299,1425887337,"$12,598",0.1786
2,3,Japan,"$4,231,140,000,000",$4.231 trillion,0.0103,123951692,"$34,135",0.0421
3,4,Germany,"$4,072,190,000,000",$4.072 trillion,0.0179,83369843,"$48,845",0.0405
4,5,India,"$3,385,090,000,000",$3.385 trillion,0.0700,1417173173,"$2,389",0.0337
...,...,...,...,...,...,...,...,...
172,173,Sao Tome & Principe,"$546,680,342",$547 million,0.0093,227380,"$2,404",0.0000
173,174,Micronesia,"$427,094,119",$427 million,-0.0062,539013,$792,0.0000
174,175,Marshall Islands,"$279,667,900",$280 million,0.0150,41569,"$6,728",0.0000
175,176,Kiribati,"$223,352,943",$223 million,0.0156,131232,"$1,702",0.0000
176,177,Tuvalu,"$60,349,391",$60 million,0.0068,11312,"$5,335",0.0000

In [14]:
df_gdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   #                    177 non-null    int64
 1   Country              177 non-null    object
 2   GDP
(nominal, 2022)  177 non-null    object
 3   GDP
(abbrev.)        177 non-null    object
 4   GDP
growth           177 non-null    float64
 5   Population
(2022)    177 non-null    int64
 6   GDP
per capita       177 non-null    object
 7   Share of
World GDP   177 non-null    float64
dtypes: float64(2), int64(2), object(4)
memory usage: 11.2+ KB

In [15]:
df_gdp.isnull().any()

#                       False
Country                 False
GDP\n(nominal, 2022)    False
GDP\n(abbrev.)          False
GDP\ngrowth             False
Population\n(2022)      False
GDP\nper capita         False
Share of\nWorld GDP     False
dtype: bool

In [16]:
df_gdp.duplicated().sum()

0

In [17]:
gdp_percapta = df_gdp.drop(columns=['#', 'GDP\n(nominal, 2022)', 'GDP\n(abbrev.)',	'GDP\ngrowth', 'Share of\nWorld GDP'])
gdp_percapta

                 Country  Population\n(2022) GDP\nper capita
0          United States           338289857         $75,269
1                  China          1425887337         $12,598
2                  Japan           123951692         $34,135
3                Germany            83369843         $48,845
4                  India          1417173173          $2,389
..                   ...                 ...             ...
172  Sao Tome & Principe              227380          $2,404
173           Micronesia              539013            $792
174     Marshall Islands               41569          $6,728
175             Kiribati              131232          $1,702
176               Tuvalu               11312          $5,335

[177 rows x 3 columns]

In [18]:
gdp_percapta.rename(columns= {'GDP\nper capita': 'GDP per capta'}, inplace=True)
gdp_percapta.rename(columns= {'Population\n(2022)': 'Population'}, inplace=True)

In [19]:
# Remove the $ and , characters and convert to int
gdp_percapta['GDP per capta'] = gdp_percapta['GDP per capta'].str.replace('$', '').str.replace(',', '').astype(int)
gdp_percapta

                 Country  Population  GDP per capta
0          United States   338289857          75269
1                  China  1425887337          12598
2                  Japan   123951692          34135
3                Germany    83369843          48845
4                  India  1417173173           2389
..                   ...         ...            ...
172  Sao Tome & Principe      227380           2404
173           Micronesia      539013            792
174     Marshall Islands       41569           6728
175             Kiribati      131232           1702
176               Tuvalu       11312           5335

[177 rows x 3 columns]

In [20]:
new_order = ["Country", "GDP per capta", "Population"]
gdp_percapta = gdp_percapta[new_order]
gdp_percapta

                 Country  GDP per capta  Population
0          United States          75269   338289857
1                  China          12598  1425887337
2                  Japan          34135   123951692
3                Germany          48845    83369843
4                  India           2389  1417173173
..                   ...            ...         ...
172  Sao Tome & Principe           2404      227380
173           Micronesia            792      539013
174     Marshall Islands           6728       41569
175             Kiribati           1702      131232
176               Tuvalu           5335       11312

[177 rows x 3 columns]

In [21]:
countries_ai = df_ai['Country'].unique()
countries_ai

array(['United States of America', 'China', 'United Kingdom', 'Canada',
       'Israel', 'Singapore', 'South Korea', 'The Netherlands', 'Germany',
       'France', 'Australia', 'Ireland', 'Finland', 'Denmark',
       'Luxembourg', 'Japan', 'India', 'Switzerland', 'Sweden',
       'Hong Kong', 'Spain', 'Austria', 'Estonia', 'Taiwan', 'Norway',
       'Saudi Arabia', 'Belgium', 'Poland', 'Slovenia', 'New Zealand',
       'Italy', 'Russia', 'Malta', 'United Arab Emirates', 'Portugal',
       'Czech Republic', 'Iceland', 'Lithuania', 'Brazil', 'Greece',
       'Slovakia', 'Hungary', 'Malaysia', 'Mexico', 'Chile', 'Argentina',
       'Qatar', 'Turkey', 'Colombia', 'Uruguay', 'Bahrain', 'Vietnam',
       'Indonesia', 'Tunisia', 'South Africa', 'Morocco', 'Armenia',
       'Sri Lanka', 'Egypt', 'Kenya', 'Nigeria', 'Pakistan'], dtype=object)

In [22]:
countries_gdp = gdp_percapta['Country'].unique()
countries_gdp

array(['United States', 'China', 'Japan', 'Germany', 'India',
       'United Kingdom', 'France', 'Russia', 'Canada', 'Italy', 'Brazil',
       'Australia', 'South Korea', 'Mexico', 'Spain', 'Indonesia',
       'Saudi Arabia', 'Netherlands', 'Turkey', 'Switzerland', 'Poland',
       'Argentina', 'Sweden', 'Norway', 'Belgium', 'Ireland', 'Israel',
       'United Arab Emirates', 'Thailand', 'Nigeria', 'Egypt', 'Austria',
       'Singapore', 'Bangladesh', 'Vietnam', 'Malaysia', 'South Africa',
       'Philippines', 'Denmark', 'Iran', 'Pakistan', 'Hong Kong',
       'Colombia', 'Romania', 'Chile', 'Czech Republic (Czechia)',
       'Finland', 'Iraq', 'Portugal', 'New Zealand', 'Peru', 'Qatar',
       'Kazakhstan', 'Greece', 'Algeria', 'Kuwait', 'Hungary', 'Ukraine',
       'Morocco', 'Ethiopia', 'Slovakia', 'Ecuador', 'Oman',
       'Dominican Republic', 'Kenya', 'Angola', 'Guatemala', 'Bulgaria',
       'Luxembourg', 'Uzbekistan', 'Azerbaijan', 'Panama', 'Tanzania',
       'Sri Lanka', 'Ghana', 'Belarus', 'Uruguay', 'Croatia', 'Lithuania',
       "CÃ´te d'Ivoire", 'Costa Rica', 'Serbia', 'Slovenia', 'Myanmar',
       'DR Congo', 'Sudan', 'Jordan', 'Tunisia', 'Libya', 'Uganda',
       'Bahrain', 'Cameroon', 'Bolivia', 'Paraguay', 'Latvia', 'Nepal',
       'Estonia', 'El Salvador', 'Honduras', 'Papua New Guinea',
       'Cambodia', 'Zambia', 'Cyprus', 'Trinidad and Tobago', 'Iceland',
       'Senegal', 'Georgia', 'Bosnia and Herzegovina', 'Macao', 'Guinea',
       'Gabon', 'Zimbabwe', 'Botswana', 'Haiti', 'Armenia',
       'State of Palestine', 'Burkina Faso', 'Albania', 'Mali',
       'Mozambique', 'Malta', 'Benin', 'Jamaica', 'Mongolia', 'Brunei',
       'Laos', 'Nicaragua', 'Guyana', 'Madagascar', 'Congo', 'Moldova',
       'Niger', 'North Macedonia', 'Rwanda', 'Malawi', 'Mauritius',
       'Bahamas', 'Chad', 'Namibia', 'Equatorial Guinea', 'Kyrgyzstan',
       'Tajikistan', 'Mauritania', 'Togo', 'Maldives', 'Montenegro',
       'Barbados', 'Fiji', 'Eswatini', 'Liberia', 'Sierra Leone',
       'Suriname', 'Andorra', 'Timor-Leste', 'Burundi', 'Belize',
       'Lesotho', 'Central African Republic', 'Cabo Verde', 'Gambia',
       'Saint Lucia', 'Antigua and Barbuda', 'Guinea-Bissau',
       'Solomon Islands', 'Seychelles', 'Grenada', 'Comoros', 'Vanuatu',
       'Saint Kitts & Nevis', 'St. Vincent & Grenadines', 'Samoa',
       'Dominica', 'Sao Tome & Principe', 'Micronesia',
       'Marshall Islands', 'Kiribati', 'Tuvalu'], dtype=object)

In [23]:
#import re

# Create a regex pattern to match countries in countries_ai
#pattern = '|'.join(countries_ai)

# Filter countries_gdp using the regex pattern
#filtered_countries_gdp = list(filter(lambda x: re.search(pattern, x), countries_gdp))

#sorted = sorted(filtered_countries_gdp)

In [24]:
#missing US, Taiwan, Netherlands
#Czech Republich check name

In [25]:
gdp_percapta['Country'].replace({
    'United States': 'United States of America',
    'Netherlands': 'The Netherlands',
    'Republic of Korea': 'South Korea',
    'Czech Republic (Czechia)': 'Czech Republic'}, inplace=True)

/var/folders/jc/sd79gch55038ry1m8kx4_s440000gn/T/ipykernel_53355/3019127352.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gdp_percapta['Country'].replace({

In [26]:
df_merged = pd.merge(df_ai, gdp_percapta, on='Country', how='inner')
df_merged

,Country,Talent,Infrastructure,Operating Environment,Research,Development,Government Strategy,Commercial,Total score,Region,Cluster,Income group,Political regime,GDP per capta,Population
0,United States of America,100.00,94.02,64.56,100.00,100.00,77.39,100.00,100.00,Americas,Power players,High,Liberal democracy,75269,338289857
1,China,16.51,100.00,91.57,71.42,79.97,94.87,44.02,62.92,Asia-Pacific,Power players,Upper middle,Closed autocracy,12598,1425887337
2,United Kingdom,39.65,71.43,74.65,36.50,25.03,82.82,18.91,40.93,Europe,Traditional champions,High,Liberal democracy,45485,67508936
3,Canada,31.28,77.05,93.94,30.67,25.78,100.00,14.88,40.19,Americas,Traditional champions,High,Liberal democracy,55646,38454327
4,Israel,35.76,67.58,82.44,32.63,27.96,43.91,27.33,39.89,Middle East,Rising stars,High,Liberal democracy,57758,9038309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Sri Lanka,6.27,34.64,35.79,0.12,0.95,35.57,0.09,6.62,Asia-Pacific,Nascent,Lower middle,Electoral democracy,3408,21832143
57,Egypt,1.11,38.84,0.00,2.08,1.54,68.72,0.31,4.83,Middle East,Nascent,Lower middle,Electoral autocracy,4295,110990103
58,Kenya,0.75,14.11,29.84,0.07,12.15,7.75,0.31,2.30,Africa,Nascent,Lower middle,Electoral autocracy,2099,54027487
59,Nigeria,2.74,0.00,50.10,0.45,2.06,7.75,0.33,1.38,Africa,Nascent,Lower middle,Electoral autocracy,2184,218541212
60,Pakistan,8.00,2.43,12.48,2.17,1.09,13.92,0.27,0.00,Asia-Pacific,Nascent,Lower middle,Electoral autocracy,1597,235824862

In [27]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                61 non-null     object
 1   Talent                 61 non-null     float64
 2   Infrastructure         61 non-null     float64
 3   Operating Environment  61 non-null     float64
 4   Research               61 non-null     float64
 5   Development            61 non-null     float64
 6   Government Strategy    61 non-null     float64
 7   Commercial             61 non-null     float64
 8   Total score            61 non-null     float64
 9   Region                 61 non-null     object
 10  Cluster                61 non-null     object
 11  Income group           61 non-null     object
 12  Political regime       61 non-null     object
 13  GDP per capta          61 non-null     int64
 14  Population             61 non-null     int64
dtypes: float64(8), int64(2), object(5)
memory usage: 7.3+ KB

In [28]:
df_ai["Country"].unique()

array(['United States of America', 'China', 'United Kingdom', 'Canada',
       'Israel', 'Singapore', 'South Korea', 'The Netherlands', 'Germany',
       'France', 'Australia', 'Ireland', 'Finland', 'Denmark',
       'Luxembourg', 'Japan', 'India', 'Switzerland', 'Sweden',
       'Hong Kong', 'Spain', 'Austria', 'Estonia', 'Taiwan', 'Norway',
       'Saudi Arabia', 'Belgium', 'Poland', 'Slovenia', 'New Zealand',
       'Italy', 'Russia', 'Malta', 'United Arab Emirates', 'Portugal',
       'Czech Republic', 'Iceland', 'Lithuania', 'Brazil', 'Greece',
       'Slovakia', 'Hungary', 'Malaysia', 'Mexico', 'Chile', 'Argentina',
       'Qatar', 'Turkey', 'Colombia', 'Uruguay', 'Bahrain', 'Vietnam',
       'Indonesia', 'Tunisia', 'South Africa', 'Morocco', 'Armenia',
       'Sri Lanka', 'Egypt', 'Kenya', 'Nigeria', 'Pakistan'], dtype=object)

In [29]:
df_merged["Country"].unique()

array(['United States of America', 'China', 'United Kingdom', 'Canada',
       'Israel', 'Singapore', 'South Korea', 'The Netherlands', 'Germany',
       'France', 'Australia', 'Ireland', 'Finland', 'Denmark',
       'Luxembourg', 'Japan', 'India', 'Switzerland', 'Sweden',
       'Hong Kong', 'Spain', 'Austria', 'Estonia', 'Norway',
       'Saudi Arabia', 'Belgium', 'Poland', 'Slovenia', 'New Zealand',
       'Italy', 'Russia', 'Malta', 'United Arab Emirates', 'Portugal',
       'Czech Republic', 'Iceland', 'Lithuania', 'Brazil', 'Greece',
       'Slovakia', 'Hungary', 'Malaysia', 'Mexico', 'Chile', 'Argentina',
       'Qatar', 'Turkey', 'Colombia', 'Uruguay', 'Bahrain', 'Vietnam',
       'Indonesia', 'Tunisia', 'South Africa', 'Morocco', 'Armenia',
       'Sri Lanka', 'Egypt', 'Kenya', 'Nigeria', 'Pakistan'], dtype=object)

In [30]:
#we don't have Taiwan in the GDP data frame

In [33]:
df_merged.columns = df_merged.columns.str.lower().str.replace(' ', '_')
df_merged

,country,talent,infrastructure,operating_environment,research,development,government_strategy,commercial,total_score,region,cluster,income_group,political_regime,gdp_per_capta,population
0,United States of America,100.00,94.02,64.56,100.00,100.00,77.39,100.00,100.00,Americas,Power players,High,Liberal democracy,75269,338289857
1,China,16.51,100.00,91.57,71.42,79.97,94.87,44.02,62.92,Asia-Pacific,Power players,Upper middle,Closed autocracy,12598,1425887337
2,United Kingdom,39.65,71.43,74.65,36.50,25.03,82.82,18.91,40.93,Europe,Traditional champions,High,Liberal democracy,45485,67508936
3,Canada,31.28,77.05,93.94,30.67,25.78,100.00,14.88,40.19,Americas,Traditional champions,High,Liberal democracy,55646,38454327
4,Israel,35.76,67.58,82.44,32.63,27.96,43.91,27.33,39.89,Middle East,Rising stars,High,Liberal democracy,57758,9038309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Sri Lanka,6.27,34.64,35.79,0.12,0.95,35.57,0.09,6.62,Asia-Pacific,Nascent,Lower middle,Electoral democracy,3408,21832143
57,Egypt,1.11,38.84,0.00,2.08,1.54,68.72,0.31,4.83,Middle East,Nascent,Lower middle,Electoral autocracy,4295,110990103
58,Kenya,0.75,14.11,29.84,0.07,12.15,7.75,0.31,2.30,Africa,Nascent,Lower middle,Electoral autocracy,2099,54027487
59,Nigeria,2.74,0.00,50.10,0.45,2.06,7.75,0.33,1.38,Africa,Nascent,Lower middle,Electoral autocracy,2184,218541212
60,Pakistan,8.00,2.43,12.48,2.17,1.09,13.92,0.27,0.00,Asia-Pacific,Nascent,Lower middle,Electoral autocracy,1597,235824862

In [34]:
csv_file_path = 'ai_data.csv' 
# Save DataFrame to CSV
df_merged.to_csv(csv_file_path, index=False)
print(f"CSV file saved as {csv_file_path}")

CSV file saved as ai_data.csv